body{
	background-image: url("landscape.jpeg");

}
.grid{
	width:600px;
	height:500px;
	margin:0auto:
	background-color:#fff;
	padding:10px 50px 50px 50px;
	border-radius:50px;
	border:2px solid #cbcbcb;
	box-shadow:10px 15px 5px #cbcbcb;
}
.grid h1{
	font-family:"sans-serif";
	background-color:#2c0747;
	font-size:60px;
	text-align:center;
	color:#ffffff;
	padding:2px 0px;
	border-radius:50px;
}

#score{
	color:#5A6772;
	text-align:center;
	font-size:30px;
}

.grid #question{
	font-family:"monospace";
	font-size:30px;
	color:5A6772;
}


.buttons{
	margin-top:30px;
}

#bt0,#bt1,#bt2,#bt3{
	background-color:#510b84;
	width:250px;
	font-size:20px;
	color:#fff;
	border:1px solid#1D3C6A;
	border-radius:50px;
	margin:10px 40px 10px 0px;
	padding:10px 10px;
}

#bt0:hover,#bt1:hover,#bt2:hover,#bt3:hover{
	cursor:pointer;
	background-color:#2c0747;
}
#bt0:focus,#bt1:focus,#bt2:focus,#bt3:focus{
	outline:0;
}
#progress{
	color:#ffffff;
	font-size:18px;
}
	
	
	
	

	
	












